@import url(‘https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese’);

body{
    overflow:hidden;
    background-color:red;
    cursor: help;
}



.canvas{
    background-color:red;
    position:absolute;
    margin-top:200px;
    margin-left:0px;
    width:100vw;
    height:100vh;
    z-index:-200;

}

.coinmaker{

    position:absolute;
    /* margin-left:1%; */
    font-weight: bold;
    top:5%;
    left:5%;
    padding-top:1%;
    padding-bottom:1%;
    width:5%;
    height:5%;
    z-index:300;
    border:5px solid black;
    font-size:140%;
    font-family: ‘Noto Sans JP’, sans-serif;
    text-align: center;
    background-color: rgba(255,213,0);
    line-height: 1.1em;
    border-radius: 100%;
}

.coinmaker:hover{
    transform:scale(1.1);
    /* box-shadow:2px 2px; */
    box-shadow:4px 8px;

}

#coinmaker3{
    top:85%;
    left:5%;
}

#coinmaker2{
    top:5%;
    left:90%;
}


#coinmaker4{
    top:85%;
    left:90%;
}

.coincontainer{
    background-color:transparent;
    position:absolute;
    margin-top:-10%;
    margin-left:-10%;
    width:100vw;
    height:150vh;
    z-index:-100;

}

.newcoin{
    position:absolute;
    z-index:200;
    top:-10%;
    background-color: rgba(255,213,0);
    border:5px solid black;
    border-radius:100%;
    font-size:400%;
    /* font-family: ‘Noto Sans JP’, sans-serif; */
    text-align: center;
    width:4%;
    height:5%;

    animation-name: fall;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* animation-delay: 1s; */
}



@keyframes fall{
    0%{
        top:-10%;
        /* transform: scaleX(1); */

    }

    50%{
        /* transform: scaleX(-1); */
    }

    100%{
        top:100%;
        
    }

}



h1{
    font-size:500%;
    font-family: ‘Noto Sans JP’, sans-serif;
    text-align: center;
}

h2{

    font-size:650%;
    font-family: ‘Noto Sans JP’, sans-serif;
    text-align: center;
}



h4{
    
    font-family: ‘Noto Sans JP’, sans-serif;
    text-align: center;

    
}


h3{
    font-size:500%;
    font-family: ‘Noto Sans JP’, sans-serif;
    font-size:300%;
    background-color:#FFD500;
    border:5px solid black;
    text-align: center;
    width:100%;
    height:20%;
    

}



#top{
    z-index:-50;
    margin-top:12%;
    margin-bottom:7%;
    }


.maincontainer{
        position:absolute;
        /* background-color:white; */
        margin-top:-60%;
        margin-left:20%;
        /* margin-top:20%; */
        z-index:100;
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:800px;
        height:600px;
        /* border: 3px solid blue; */
 }

#bottom{
    z-index:-50;
    margin-top:7%;
    margin-bottom:10%;
    }


.signcontainer{
    width: 500px;
    height:500px;
    
    position:absolute;
    background-color:#FFD500;
    border:8px solid black;
    /* width:20%;
    height:20%; */
    /* margin-top:125%;
    margin-left:-30%; */
    margin-top:80%;
    margin-left:30%;
    z-index:200;
}  





.titleClass{
    margin-top:3%;

}


.descriptionClass{
    /* position:absolute; */
    /* width:100vw; */
    text-align: left;
    margin-left:8%;
    margin-right:23%;
    font-size:135%;
    margin-top:-15%;
}

.imageClass{
    /* align-self: center; */
    /* align-content: right; */
    margin-left:65%;
    width:25%;
    height:25%;
    /* width:150%; */
}
#image2{
    margin-left:68%;
    margin-top:-5%;
}

#image3{
    width:35%;
    height:35%;
    margin-left:60%;
    margin-top:-8%;
}

#image4{
    width:28%;
    height:28%;
    margin-left:68%;
    margin-top:-3%;
}

#image5{
    width:28%;
    height:28%;
    margin-left:68%;
    margin-top:-2%;
}

.cat{
    position:absolute;
    width: 5%;
    height: 8%;
    /* background-color: blue; */
    /* border-radius :50%; */
    
    z-index:-10;
}

#poop{
    position:absolute;
    width:5%;
    height:8%;
    z-index:200;
    
}

.newcat{
    /* background-image: "url('./assets/cat.png')"; */
    position:absolute;
    background-image:url("./assets/cat.png");
    /* background-color:black; */
    /* background-color: black; */
    width: 5%;
    height: 8%;
    visibility: hidden;  
    /* background-color: blue; */
    /* border-radius :50%; */
    
    
}


/* .catcontainer{
    background-color: blue;
    width
} */

.container{
    width: 400px;
    height:600px;
    border: 3px solid black;
}


#boxcontainer{
    /* align-self: center; */
    /* background-color:white; */
    z-index:20;
    margin-left:20%;
    margin-top:190%;
    width:200%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:10%;
    
}




#box1:hover{
box-shadow:5px 10px;
transform:scale(1.1);
}

#box2:hover{
    box-shadow:5px 10px;
    transform:scale(1.1);
    }

#box3:hover{
    box-shadow:5px 10px;
    transform:scale(1.1);
    }

#box4:hover{
    box-shadow:5px 10px;
    transform:scale(1.1);
    }

#box5:hover{
    box-shadow:5px 10px;
    transform:scale(1.1);
    }


#start{
    width: 47%;
    height: 100%;
    font-size:500%;
    font-family: ‘Noto Sans JP’, sans-serif;
    /* font-weight:500; */
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color:#FFD500;
    border:8px solid black;
    z-index:-10;
    
}

#start:hover{
    box-shadow:5px 10px;
    transform:scale(1.1);
}

/* .newclass{
    width: 400px;
    height:600px;
    border: 3px solid black;
} */

